body {
  background-color: var(--vscode-editor-background);
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#message {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: red;
  font-size: 11pt;
  text-align: center;
  padding-top: 0px;
}

#map {
  padding: 0px;
}

/* kepler.gl map styles */
.side-panel--container {
  padding: 0px !important;
}
.side-bar__close {
  top: 4px !important;
  right: 4px !important;
}
.side-panel__panel-header {
  display: none !important;
}
