body {
  background-color: var(--vscode-editor-background);
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#message {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: orange;
  font-size: 11pt;
  text-align: center;
  padding-top: 0px;
}

#map {
  padding: 0px;
}

#map-view-icon {
  color: orange;
  font-weight: bold;
  font-size: 11pt;
}
#toolbar {
  margin: 0px;
  margin-top: 3px;
  padding: 0px;
  padding-left: 7px;
  font-size: 10pt;
  font-weight: normal;
  display: inline-block;
  white-space: nowrap;
  height: 25px;
}
#toolbar-left {
  width: calc(100% - 120);
}
#toolbar-right {
  position: absolute;
  top: 5px;
  right: 0px;
  width: 130px;
  height: 25px;
  padding-left: 5px;
  background-color: var(--vscode-editor-background);
}
#toolbar a {
  color: dodgerblue;
  text-decoration: none;
  padding: 2px 5px 2px 5px;
}
#map-icon {
  vertical-align: text-bottom;
  padding-right: 5px;
}
#title {
  margin: 0px;
  padding: 0px;
}
#data-url-input {
  width: 200px;
  color: var(--vscode-editor-foreground);
  background-color: var(--vscode-editor-background);
  border: 1px solid #999;
}
#data-viewer {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
}
.hidden {
  display: none;
}
.label {
  color: var(--vscode-editor-foreground);
}
select {
  color: var(--vscode-editor-foreground);
  background-color: var(--vscode-editor-background);
}

/* kepler.gl map styles override */
.side-panel--container {
  padding: 0px !important;
}
.side-bar__close {
  top: 8px !important;
  right: 8px !important;
}
.side-panel__panel-header {
  display: none !important;
}
.side-panel__panel-header__action {
  display: none !important;
}
.side-side-panel__header__bottom {
  padding-top: 10px !important;
}
.side-panel__content__title {
  font-size: 12px !important;
  font-weight: bold;
}
.side-panel__content {
  padding: 10px !important;
  margin-bottom: 32px !important;
}
.bottom-widget--container {
  bottom: 32px !important;
  padding-left: 36px !important;
  padding-right: 18px !important;
}
.map-attributions {
  bottom: 0px !important;
}
