<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" 
      content="default-src * vscode-resource: https: 'unsafe-inline' 'unsafe-eval';
        script-src vscode-resource: https: 'unsafe-inline' 'unsafe-eval';
        style-src vscode-resource: https: 'unsafe-inline';
        img-src vscode-resource: https:;
        connect-src vscode-resource: https: http:;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Map View">
    <title>Map View</title>
    <!--Uber Font-->
    <link rel="stylesheet" href="https://d1a3f4spazzrp4.cloudfront.net/kepler.gl/uber-fonts/4.0.0/superfine.css">
    <!--MapBox css-->
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.css" rel="stylesheet">
    <!-- Load React/Redux -->
    <script src="https://unpkg.com/react@16.8.4/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16.8.4/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/redux@3.7.2/dist/redux.js" crossorigin></script>
    <script src="https://unpkg.com/react-redux@5.1.1/dist/react-redux.min.js" crossorigin></script>
    <script src="https://unpkg.com/styled-components@4.1.3/dist/styled-components.min.js" crossorigin></script>
    <!-- Load Kepler.gl -->
    <script src="https://unpkg.com/kepler.gl@1.1.12/umd/keplergl.min.js" crossorigin></script>    
    <style type="text/css">
      body {
        background-color: var(--vscode-editor-background);
        margin: 0px;
        padding: 0px;
        overflow: hidden;
      }

      #message {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: red;
        font-size: 11pt;
        text-align: center;
        padding-top: 10px;
      }

      #map {
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <div id="message">Loading Map View...</div>
    <div id="app" width="400" height="400"></div>
    <script type="text/javascript">
      const MAPBOX_TOKEN = '{mapboxToken}';
      // create keplerGL redux reducer
      const reducers = (function createReducers(redux, keplerGl) {
        return redux.combineReducers({
          // mount keplerGl reducer
          keplerGl: keplerGl.keplerGlReducer.initialState({
            uiState: {
              readOnly: false
             }
          })
        });
      }(Redux, KeplerGl));

      // add keplerGL middlewares
      const middleWares = (function createMiddlewares(keplerGl) {
        return keplerGl.enhanceReduxMiddleware([
            // add other middlewares here
          ]);
      }(KeplerGl));

      // create redux enhancers
      const enhancers = (function craeteEnhancers(redux, middles) {
        return redux.applyMiddleware(...middles);
      }(Redux, middleWares));

      // create redux store
      const store = (function createStore(redux, enhancers) {
        const initialState = {};
        return redux.createStore(
          reducers,
          initialState,
          redux.compose(enhancers)
        );
      }(Redux, enhancers));

      // create kepler.gl map components
      let KeplerElement = (function makeKeplerElement(react, keplerGl, mapboxToken) {
        // create logo
        let LogoSvg = function LogoSvg() {
          return react.createElement('div',
            { className: 'logo', style: {position: 'fixed', zIndex: 10000, padding: '4px'} });
        };

        // create kepler.gl app
        return function App() {
          var rootElm = react.useRef(null);
          var _useState = react.useState({
            width: window.innerWidth,
            height: window.innerHeight
          });
          var windowDimension = _useState[0];
          var setDimension = _useState[1];
          react.useEffect(function sideEffect(){
            function handleResize() {
              setDimension({width: window.innerWidth, height: window.innerHeight});
            };
            window.addEventListener('resize', handleResize);
            return function() {window.removeEventListener('resize', handleResize);};
          }, []);
          return react.createElement('div',
            {style: {position: 'absolute', left: 0, width: '100vw', height: '100vh'}},
            react.createElement(keplerGl.KeplerGl, {
              mapboxApiAccessToken: mapboxToken,
              id: 'map',
              width: windowDimension.width,
              height: windowDimension.height
            })
          );
        }
      }(React, KeplerGl, MAPBOX_TOKEN));

      // create kepler.gl map app
      const app = (function createReactReduxProvider(react, reactRedux, KeplerElement) {
        return react.createElement(
          reactRedux.Provider,
          {store},
          react.createElement(KeplerElement, null)
        );
      }(React, ReactRedux, KeplerElement));

      // render kepler.gl map app
      (function render(react, reactDOM, app) {
        reactDOM.render(app, document.getElementById('app'));
      }(React, ReactDOM, app));

      // TODO: customize map and load map data and config from webview
      let vscode, message, map, mapConfig;
      document.addEventListener('DOMContentLoaded', event => {
        // initialize page elements
        message = document.getElementById('message');
        map = document.getElementById('map');
        try {
          // notify webview
          vscode = acquireVsCodeApi();
          vscode.postMessage({command: 'refresh'});
        }
        catch (error) {
          // ignore: must be loaded outside of vscode webview
        }
      });

      // map config/data update handler
      window.addEventListener('message', event => {
        switch (event.data.command) {
          case 'showMessage':
            showMessage(event.data.message);
            break;
          case 'refresh':
            try {
              vscode.setState({uri: event.data.uri});
              mapConfig = event.data.config;
              view(mapConfig);
            }
            catch (error) {
              console.error('map.view:', error.message);
              showMessage(error.message);
            }
            break;
        }
      });

      // map view update
      function view(mapConfig) {
        showMessage(''); // 'Loading map view...';
        try {
          // TODO
        }
        catch (error) {
          console.error('map.view:', error.message);
          showMessage(error.message);
        };
      }

      function showHelp() {
        vscode.postMessage({command: 'showHelp'});
      }

      function showMessage(text) {
        message.innerText = text;
      }
    </script>
  </body>
</html>
